:root{
    --black: #000000;
    --black-2: #0D0D0D;
    --white: #FFFFFF;
    --white-2: #F2F2F2;
    --red: #FE4461;
    --dark-blue: #171C26;
    --gray: #747C8C;

    --ancho-max: 1728px;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
}

header {
    display: flex;
    /* width: 1730px; */
    max-width: var(--ancho-max);
    min-width: 428px;
    height: 128px;
    text-align: center;
    background: linear-gradient(180deg, #0d0d0d 20%, #00000075 54%, #a2a2a200 80%, #ffffff00 100%);
    box-shadow: 0px 2px 6px 0px;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 100px;
    height: 100px;
    align-self: center;
    padding: 15px;
    margin-left: 100px;
}

.nav-content{
    align-self: center;
    width: 1150px;
    height: 24px;
    margin-left: -140px;
    margin-right: 15px;
}

ul {
    list-style: none;
    display: flex; 
    justify-content: center; 
    align-items: center;
    gap: 25px;
}

a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 1.8rem;
    gap: 10px;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 30px; 
    margin-left: 25px;
} 

li:nth-child(2) a{background-image: url(./assets/iconos/download.svg);}
li:nth-child(3) a{background-image: url(./assets/iconos/news.svg);}
li:nth-child(4) a{background-image: url(./assets/iconos/community-heart.svg);}
li:nth-child(5) a{background-image: url(./assets/iconos/learn.svg);}
li:nth-child(6) a{background-image: url(./assets/iconos/contribute.svg);}
li:nth-child(7) a{background-image: url(./assets/iconos/develop.svg);}
li:nth-child(8) a{background-image: url(./assets/iconos/support-use.svg);}

.login-header {
    width: 42px;
    height: 42px;
    align-self: center;
    margin-right: 70px;
}

main{
    height: 456px;
}

.img1{
    position: absolute;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

main div button{
    width: 358px;
    height: 68px;
    top: 548px;
    position: absolute;
    left: calc(50% - 175px);    
    background-color: var(--black-2);
    border-radius: 50px;
    font-size: 1.8rem;
    color: var(--white);
}

.version-container{
    flex-direction: row;
    width: 1730px;
    height: 385px;
    display: flex;
}

.user, .col{
    width:865px;
    padding: 50px;
}

.user{
    background-color: var(--dark-blue);
}

.col{
    background-color: var(--gray);
}

.title{
    font-weight: 700;
    font-size: 3.8rem;
    color: var(--white);
}

.description{
    font-weight: 200;
    color: var(--white);
    font-size: 1.9rem;
    margin-top: 10px;
}

.list{
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 35px;
    padding-left: 17.2rem;
    margin-top: 14px;
    color: var(--white-2);
}
.list p{
    display: flex;
    align-items: center;
    gap: .5rem;
    margin: .3rem 0;
}

.subtitle-user{
    color: var(--red);
    font-weight: 400;
    font-size: 2.4rem;
}

.subtitle-col{
    color: var(--black);
    font-weight: 400;
    font-size: 2.4rem;
}

.check-icon-red{
    background-image: url(./assets/iconos/check-red.svg);
    width: 24px;
    height: 24px;
    display: inline-block;
    align-items: center;
    background-repeat: no-repeat;
}
.check-icon-black{
    background-image: url(./assets/iconos/check-black.svg);
    width: 24px;
    height: 24px;
    display: inline-block;
    align-items: center;
    background-repeat: no-repeat;
}

section div button{
    width: 358px;
    height: 68px;
    top: 1138px;
    position: absolute;
    left: calc(50% - 175px);
    background-color: var(--red);
    border-radius: 50px;
    border: none;
    font-size: 1.8rem;
    color: var(--black);
    box-shadow: 0px 0px 20px 1px;
}

.section-container{
    display: flex;
    flex-wrap: wrap;
}

.section-container article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    width: 432px;
    height: 366px;
}

.about-program{
    background-color: var(--red);
}
.about-features{
    background-color: var(--dark-blue);
}
.about-community{
    background-color: var(--gray);
}
.about-resources{
    background-color: var(--black-2);
}

.icons{
    display: flex;
    justify-content: center;
    justify-items: center;
    height: 100px;
}

.icons img{
    object-fit: contain;
}

.title-2{
    color: var(--dark-blue);
}
    
.title-3{
    color: var(--red);
}

.description-2{
    font-size: 2.4rem;
    color: var(--white);
    font-weight: 400;
    margin: 23px;
    text-align: center;
}

footer {
    background-color: var(--dark-blue);
    color: var(--white-2);
    width: 1728px;
    height: 127px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 300;
}

footer strong{
    word-spacing: 8px;
    height: 44px;
    margin-top: 22px;
}